* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
  
}

.quiz-container {
  background-color: white;
  margin: 0 20px;
  text-align: center;
}

.quiz-head {
  font-size: 3rem;
  margin: 20px auto;
  font-weight: 100;
  color: #CD5C5C;
}

.main-heads {
  font-size: 1.75rem;
  font-weight: 300;
  text-transform: allcaps;
}

.field {
  margin: 0 20px;
}

.label {
  font-size: 1.25rem;
  text-align: left;
  font-weight: 100;
}

.input {
  font-size: 1.5rem;
  height: 50px;
  font-weight: 100;
  padding: 10px;
  border-radius: 3px;
}

.login-submit {
  margin-top: 5px;
  text-align: right;
}

.registration-option {
  margin-top: 10px;
  text-align: right;
}

.registration-question {
  display: inline-block;
  font-size: 1rem;
  text-emphasis: italic;
  font-weight: 100;
}

.register-link {
  display: inline-block;
  margin-left: 15px;
}

.register-submit {
  margin-top: 20px;
  text-align: right;
}

/* .add-item {
  height: 50px;
  border-radius: 0 3px 3px 0;
} */

.control {
  display: block;
  margin: 0 auto;
}

/* This is a temporary spacing measure until we get routes established! */
.registration-view {
  margin-top: 100px;
}

