* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
}

.quiz-container {
  background-color: white;
  margin: 0 20px;
  /* text-align: center; */
}

.quiz-logo {
  display: block;
  font-size: 3.25rem;
  margin: 0 auto;
  padding: 80px auto;
  font-weight: 100;
  /* color: #CD5C5C; */
  color: white;
  background-color: #CD5C5C;
}

.quiz-head {
  display: block;
  text-align: center;
  font-size: 2rem;
  margin: 20px auto;
  font-weight: 600;
  line-height: 2rem;
  color: #CD5C5C;
}

.QandA-unit {
  width: 80%;
}

.current-quiz {
  text-align: center;
  max-width: 100%;
  margin: 30px 10px 50px 10px;
}

.quiz-questions {
margin: 20px 10px;
text-align: left;
font-size: 1.25rem;
/* line-height: 1rem; */
font-weight: 800
}

.quiz-answers {
  margin: 20px 10px;
}

/* .control {
  margin: 50px 15px 20px 0;
} */

/* .answers {} */

.available-quiz {
  margin: 25px;
}

.main-heads {
  font-size: 2rem;
  font-weight: 600;
  margin: 10px 0;
}

.field {
  margin: 0 40px;
}

.label {
  font-size: 1.25rem;
  text-align: left;
  font-weight: 100;
  /* margin-left: 10px; */
}

.input {
  font-size: 1.5rem;
  height: 50px;
  font-weight: 100;
  padding: 10px;
  border-radius: 3px;
  margin-right: 10px;
}

.login-submit {
  margin-top: 5px;
  text-align: right;
}

.registration-option {
  margin: 25px 20px 10px 0;
  text-align: center;
}

.registration-question {
  display: inline-block;
  font-size: 1rem;
  text-emphasis: italic;
  font-weight: 100;
}

.register-link {
  display: inline-block;
  /* margin-left: 15px; */
  font-weight: 600;
}

.register-submit {
  margin-top: 20px;
  text-align: right;
}

/* .add-item {
  height: 50px;
  border-radius: 0 3px 3px 0;
} */

.control {
  display: block;
  margin: 4px auto;
}

.welcome-user-top {
  font-size: 1.25rem;
  font-weight: 100;
  margin: 25px 0;
  font-style: italic;
}

.QandA-unit {
  margin: 0 auto;
}

.score-submit {
  margin-top: 20px 0 40px 0;
  background-color: #CD5C5C;
}

.score-announce {
  margin: 50px 0;
  font-size: 2.5rem;
}

.score-tally {
  color: #CD5C5C;
}
